.container{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 10px;
    grid-template-columns: 300px;
    grid-template-rows: repeat(4fr) 68fr repeat(4fr);
    grid-gap: 10px;
    
}
body{
   background:black;
}

h1{
   text-align: center;
   color: white;
}
.submit{
   background-color: #c70039;
}
.status{
   background-color: bisque;
   
}
.container > div{
   padding: 10px;
   font-size: 20px;
   font-weight: bold;
   color: black;
   border-radius: 10px;
}
button,input{
   min-width: 100%;
   min-height: 100%;
   font-size: 1.5vw;
   border-radius: 8px;
}
input{
   background:cadetblue;
   text-indent: 0.5em;
   max-width:100% ;
   color: black;
}

button{
   background: #b3cbe3;
   cursor: pointer;
}
button:hover{
   background: #c70039;
   color: white;
}

